*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../personal/img/estadio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    display: grid;
    place-items: center;

}
div >h1{
  font-family: Jomhuria;
 font-size: 600px;
font-style: normal;
 font-weight: 400;
 color: red;      
}
div>p{
    text-align: justify;
font-family: Kokoro;
font-size: 60px;
font-style: normal;
font-weight: 400;
color: white;
}
nav{
    margin-right: 900px;
}
img{
    margin: 0;
    width: 243px;
     height: 63px;
    flex-shrink: 0;
}
ul{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 1350px;
}
li{
    color: white;
    margin-right: 20px;
    list-style: none;
    display: flex;
    justify-content: end;
}
.logo{
    display: flex;
    align-items: baseline;
    justify-content: start;
}
.nave{
    display: flex;
    background-color: rgb(19, 19, 54);
}
a{
    text-decoration-line: none;
    color: white;
}
h2{
    justify-content: center;
    color: deeppink;
    margin-right: 850px;
    
}